<div><a href="/">Home</a></div>
<h1>{{title}}</h1>
<hr>

<!---------------- Paypal Button ------------------>
<div>Using hard coded credit card: 4111 1111 1111 1111, 12/28, 123</div>
<div>Amount: <input type="text" id="input-amount" style="width:100px" value="400"></div>
<div>Currency: <input type="text" id="input-currency" style="width:100px" value="USD"></div>
<hr>

<p><a href="https://graphql.braintreepayments.com/integration_guides/credit_cards/">BT Docs</a> </p>
<p><a href="https://engineering.paypalcorp.com/confluence/pages/viewpage.action?pageId=628454095">If STC data is required - see here who to</a> </p>


<table style="margin-top:15px">
  <tr>
    <th>ACTION</th>
    <th>RESPONSE</th>
  </tr>
  {{!-- CREATE ORDER --}}
  <tr>
    <td>
      <button id="create-order-button" onclick="tokenizePaymentMethod()">[1] Create Order</button>
    </td>
    <td class="seperator">
      <div id="in-progress-1">In Progress...</div>
      <div id="create-order-response"></div>
      <div><span id="create-order-approve-container"></span> </div>
    </td>
  </tr>
  
  {{!-- CAPTURE NONCE --}}
  <tr>
    <td>
      <button id="ba-pay" onclick="captureNonce()">[3] Capture Nonce</button>
    </td>
    <td class="seperator">
      <div id="in-progress-3">In Progress...</div>
      <div id="capture-nonce-response"></div>
    </td>
  </tr>
</table>



<!-- Implementation -->
<script>
  $("#in-progress-1").hide();
  $("#in-progress-2").hide();
  $("#in-progress-3").hide();
  var amountElement = $("#input-amount");
  var amount = amountElement.val();

  var currencyElement = $("#input-currency");
  var currency = currencyElement.val();

  var orderData = {
    reference_id: uuidv4(),
    amount: { currency_code: currency, value: amount }
  };

  amountElement.change(function () {
    amount = amountElement.val();
    orderData.amount.value = amount;
    console.log(amount);
  });

  currencyElement.change(function () {
    currency = currencyElement.val();
    orderData.amount.currency_code = currency;
    console.log(currency);
  });

 
  

  var paymentMethodId = "";
  var payerId = "" ;
  var paymentToken = "";
  var approvalUrl = "";
  var paymentMethodId = "";

  

  function tokenizePaymentMethod() {
    $("#in-progress-1").show();
    $.ajax('/bt/gql/tokenizecc', {
      type: 'POST',
      headers: {"Content-Type": "application/json"},
      data: JSON.stringify(orderData),
      success: function (data, status, xhr) {
        console.log(data);
        $("#create-order-response").html(JSON.stringify(data));
        $("#get-order-details-button").removeAttr("disabled");
        $("#in-progress-1").hide();      
        
        paymentMethodId = data.tokenizeCreditCard.paymentMethod.id;
        
        $("#create-order-approve-container").html(`<p><b>PaymentId is: ${paymentMethodId}</b></p>`);
        
      },
      error: function (jqXhr, textStatus, errorMessage) {
        console.log(errorMessage);
      }
    });

  }

  

  function captureNonce() {
    $("#in-progress-3").show();
    var guid = uuidv4();

    var payload = {
      selectedCurrency: orderData.amount.currency_code,
      paymentMethodId,
      amount: orderData.amount.value
    };

    $.ajax(`/bt/gql/capture-nonce`, {
      type: 'POST',
      headers: {"Content-Type": "application/json"},
      data: JSON.stringify(payload),
      success: function (data, status, xhr) {
        console.log(data);
        $("#capture-nonce-response").html(JSON.stringify(data)).css('color', 'green');
        $("#in-progress-3").hide();

      },
      error: function (jqXhr, textStatus, errorMessage) {
        console.log(errorMessage);
        $("#capture-nonce-response").html(JSON.stringify(jqXhr.responseJSON)).css('color', 'red');
      }
    });

  }

  function uuidv4() {
    return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
      (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
    );
  }


</script>























