<div><a href="/">Home</a></div>
<h1>{{title}}</h1>
<hr>
<!---------------- Paypal Button ------------------>
<div>
  <div id="paypal-button"></div>
</div>


<div>
    {{!-- <button id="generate-token" >Generate Access Token</button> --}}
   <span id="loading-token">Generating access token...</span> 
  <span id="token"></span>

  <span id="loading-button">Loading paypal button...</span> 

</div>

<!-- includes the Braintree JS client SDK -->
<!-- Load the client component. -->
<script src="https://js.braintreegateway.com/web/3.85.2/js/client.min.js"></script>

<!-- Load the PayPal Checkout component. -->
<script src="https://js.braintreegateway.com/web/3.85.2/js/paypal-checkout.min.js"></script>


<!-- Load the PayPal JS SDK with your PayPal Client ID-->
<script
  src="https://www.paypal.com/sdk/js?client-id=AbfWHDmsApd4IM7TDiLYpsjH28utsEt-XfxVOxnE9SKbtSziPLp_LhMToOKgVKjXR7BVhDw6Pvw89ALk"></script>


<script>

  // -----------------------------------------------------------------
  // client server example
  // -----------------------------------------------------------------
  var tokenSpan = document.querySelector('#token')
  var token = undefined;
  
  (function () {
    $.ajax({
      type: 'GET',
      url: '/bt/hf/payment/client_token'
    }).done(function (result) {
      // console.log(result);
      token = result;
      tokenSpan.innerHTML = `${token}`;
      $("#loading-token").hide();

      initBtPaypalCheckout(token);

    });


  }());
  
  
  
  
  // -----------------------------------------------------------------

  // paypal basic checkout
  function initBtPaypalCheckout(token) {
    $("#loading-button").show();
    // promise style
    // Create a client.
    braintree.client.create({
      authorization: token
    }).then(function (clientInstance) {
      // Create a PayPal Checkout component.
      return braintree.paypalCheckout.create({
        client: clientInstance
      });
    }).then(function (paypalCheckoutInstance) {
      return paypalCheckoutInstance.loadPayPalSDK({
        currency: 'USD',
        intent: 'capture'
      });
    }).then(function (paypalCheckoutInstance) {
      $("#loading-button").hide();
      return paypal.Buttons({
        fundingSource: paypal.FUNDING.PAYPAL,

        createOrder: function () {
          return paypalCheckoutInstance.createPayment({
            flow: 'checkout', // Required
            amount: 10.00, // Required
            currency: 'USD', // Required, must match the currency passed in with loadPayPalSDK

            intent: 'capture', // Must match the intent passed in with loadPayPalSDK

            enableShippingAddress: true,
            shippingAddressEditable: false,
            shippingAddressOverride: {
              recipientName: 'Scruff McGruff',
              line1: '1234 Main St.',
              line2: 'Unit 1',
              city: 'Chicago',
              countryCode: 'US',
              postalCode: '60652',
              state: 'IL',
              phone: '123.456.7890'
            }
          });
        },

        onApprove: function (data, actions) {
          return paypalCheckoutInstance.tokenizePayment(data).then(function (payload) {
            // Submit `payload.nonce` to your server
          });
        },

        onCancel: function (data) {
          console.log('PayPal payment cancelled', JSON.stringify(data, 0, 2));
        },

        onError: function (err) {
          console.error('PayPal error', err);
        }
      }).render('#paypal-button');
    }).then(function () {
      // The PayPal button will be rendered in an html element with the ID
      // `paypal-button`. This function will be called when the PayPal button
      // is set up and ready to be used
    });
  }
  // Hosted fields example





</script>