<div><a href="/">Home</a></div>
<h1>{{title}}</h1>
<h2><a href="https://developer.paypal.com/braintree/docs/reference/general/testing#valid-card-numbers"
    target="_blank">Valid Test Cards</a>
</h2>

<button id="generate-token" style="display:none">generate token</button>
  <span id="token"></span>
  <div><input type="checkbox" id="use-stored-card" name="use-stored-card">Use Stored Card (Create clinet token with
    customerId)<input type="text" style="width: 180px" name="customer-id" id="customer-id" value="894738055"></div>
<!----------------- Hosted fields example  ------------------>
<div>
  <hr>
  <h2>Hosted Fields example</h2>
  <hr>

  <div style="width:600px">
    <form action="/bt/hf/payment/checkout?dontUseNonce=1" id="my-sample-form" method="post">
      
      <div style="padding:10px">
        <label for="cvv" style="margin-top:5px">CVV</label>
        <div id="cvv" style="height:30px;border-style:solid;border-color:lightgray"></div>

      </div>
      
      <div style="padding:10px">
        <input id="save-for-next-purchase" type="checkbox">
        <label for="save-for-next-purchase" style="margin-top:5px">Save details for next purchase</label>


      </div>
      <input type="hidden" id="hf-nonce" name="payment_method_nonce" />
      <input type="hidden" id="hf_save_for_next_purchase" name="hf_save_for_next_purchase" />
      <input type="hidden" id="isDesiredToBeDeclined" name="isDesiredToBeDeclined" />


      <div style="padding:10px">
        <input type="submit" value="Pay" id="pay" disabled />
      </div>

    </form>
  </div>


</div>

<!-- test card -->
<div style="color:gray">
  <p>test card</p>
  <div>
    Card number: 4111 1111 1111 1111 | Expiry: 09/23 | CVV: 400 | Postal Code: 40000
  </div>

</div>
<!-- includes the Braintree JS client SDK -->

<!-- Load the PayPal JS SDK with your PayPal Client ID-->
<script
  src="https://www.paypal.com/sdk/js?client-id=AbfWHDmsApd4IM7TDiLYpsjH28utsEt-XfxVOxnE9SKbtSziPLp_LhMToOKgVKjXR7BVhDw6Pvw89ALk"></script>

<!-- hosted fields- -->
<script src="https://js.braintreegateway.com/web/3.85.3/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.85.3/js/hosted-fields.min.js"></script>

<!-- Load the PayPal Checkout component. -->
<script src="https://js.braintreegateway.com/web/3.85.3/js/paypal-checkout.min.js"></script>

<script>


  // -----------------------------------------------------------------
  // client server example
  // -----------------------------------------------------------------
  var customerInput = $("#customer-id")   // customerId with saved credit card as payment method in vault
  var customerId = customerInput.val();
  customerInput.keyup(function () {
    customerId = customerInput.val();
    console.log("key up");
    console.log(customerId);
  });
  var tokenSpan = document.querySelector('#token')
  var token = undefined;
  var button1 = document.querySelector('#generate-token');
  var payButton = document.querySelector('#pay');
  var generateClientTokenUrl = '/bt/hf/payment/client_token';
  $("#pay").hide();
  $("#hosted-fields-submit-button").hide();

  button1.addEventListener('click', function () {
    $.ajax({
      type: 'GET',
      url: generateClientTokenUrl
    }).done(function (result) {
      // console.log(result);
      token = result;
      tokenSpan.innerHTML = `<p>${token}</p>`;

      const form = document.getElementById('payment-form');

      createHostedFieldBraintreeInstance(token);
      // createInitializeComponentPaypalCheckout(token);

    });

  });
  button1.click();

  var checkBoxUseStoredCard = $("#use-stored-card");
  checkBoxUseStoredCard.change(function (event) {
    console.log("checkboxChanged");
    var generateClientTokenWithCustomerId = checkBoxUseStoredCard[0].checked;
    if (generateClientTokenWithCustomerId) {
      generateClientTokenUrl = `/bt/vault/payment/client_token/${customerId}`
      $('#dropin-container1').empty();

    }
    button1.click();

  });

  // -----------------------------------------------------------------

  // Hosted fields example
  function createHostedFieldBraintreeInstance(token) {

    var form = document.querySelector('#my-sample-form');
    // var submit = document.querySelector('input[type="submit"]');
    var submit = document.querySelector('#pay');

    braintree.client.create({
      authorization: token
    }, function (clientErr, clientInstance) {
      if (clientErr) {
        console.error(clientErr);
        return;
      }

      // This example shows Hosted Fields, but you can also use this
      // client instance to create additional components here, such as
      // PayPal or Data Collector.

      braintree.hostedFields.create({
        client: clientInstance,
        styles: {
          'input': {
            'font-size': '14px',
          },
          'input.invalid': {
            'color': 'red'
          },
          'input.valid': {
            'color': 'green'
          }
        },
        fields: {
          
          cvv: {
            container: '#cvv',
            placeholder: '123'
          }
        }
      }, function (hostedFieldsErr, hostedFieldsInstance) {
        if (hostedFieldsErr) {
          console.error(hostedFieldsErr);
          return;
        }

        // Include this to verify BIN while user typing it
        hostedFieldsInstance.on('binAvailable', function (event) {
          console.log("Event Fired: binAvailable ",event.bin) // send bin to 3rd party bin service
        });

        submit.removeAttribute('disabled');
        $("#pay").show();
        $("#hosted-fields-submit-button").show();

        form.addEventListener('submit', function (event) {
          event.preventDefault();

          hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
            if (tokenizeErr) {
              console.error(tokenizeErr);
              return;
            }

            // If this was a real integration, this is where you would
            // send the nonce to your server.
            alert('Got a nonce: ' + payload.nonce);
            console.log(payload.nonce);
            document.getElementById('hf-nonce').value = payload.nonce;
            //document.getElementById('hf_save_for_next_purchase').value = $("#save-for-next-purchase")[0].checked;
            //document.getElementById('isDesiredToBeDeclined').value = $("#force-issuer-decline")[0].checked;
            form.submit();

          });
        }, false);
      });
    });

  }


</script>