<h1>Examples</h1>

<hr>

<ul>
  <li>Braintree
    <ul >
      <li><a href="/bt">Dropin + Hosted Fields</a></li>
      <li><a href="/btcheckout">Paypal Checkout</a></li>
       <li><a href="/btvault">Paypal Vault</a></li>
       <li><a href="/btvaultdatacollector">Paypal Vault + Data Collector</a></li>
        <li><a href="/btvaultreturncustomer">Paypal Vault Returning Customer</a></li>

    </ul>
  </li>
  <li>Rest API - Orders V2
    <ul>
      <li><a href="/ppsc">PP Rest API - Standard Checkout</a></li>
    <li><a href="/ppccs">PP Rest API - Custom Checkout With Shipping</a></li>
    <li><a href="/ppccm">PP Rest API - Custom Checkout Other Payment Methods</a></li>
  <li><a href="/ppac">PP Rest API - Advanced Checkout</a></li>

    </ul>
  </li>
  
</ul>