<h1>Examples</h1>

<hr>

<ul>
  <li>Braintree
    <ul >
      <li><a href="/bt">Dropin + Hosted Fields</a></li>
      <li><a href="/btco">Paypal Checkout</a></li>
      <li><a href="/btcov">Paypal Checkout + Vaultt</a></li>
       <li><a href="/btv">Paypal Vault</a></li>
       <li><a href="/btvdc">Paypal Vault + Data Collector</a></li>
        <li><a href="/btvrc">Paypal Vault Returning Customer</a></li>
          <li><a href="/btlpm">Local Payment Method</a></li>
           <li><a href="/btvenmo">Venmo</a></li>


    </ul>
  </li>
  <li>Rest API - Orders V2
    <ul>
      <li><a href="/ppsc">PP Rest API - Standard Checkout</a></li>
    <li><a href="/ppccs">PP Rest API - Custom Checkout With Shipping</a></li>
    <li><a href="/ppccm">PP Rest API - Custom Checkout Other Payment Methods (Marks) </a><span style="color: red">**WIP**</span></li>
  <li><a href="/ppac">PP Rest API - Advanced Checkout</a></li>

    </ul>
  </li>
  
</ul>