<h1>Examples</h1>

<hr>

<ul>
  <li><a href="/bt">Braintree</a></li>
  <li><a href="/ppsc">PP Rest API - Standard Checkout</a></li>
  <li><a href="/ppac">PP Rest API - Advanced Checkout</a></li>
</ul>