<h1>Examples</h1>

<hr>

<ul>
  <li>Braintree
    <ul>
      <li><a href="/bt">Dropin + Hosted Fields</a></li>
      <li><a href="/btco">Paypal Checkout</a></li>
      <li><a href="/btcov">Paypal Checkout + Vault</a></li>
      <li><a href="/btv">Paypal Vault</a></li>
      <li><a href="/btvdc">Paypal Vault + Data Collector</a></li>
      <li><a href="/btvrc">Paypal Vault Returning Customer</a></li>
      <li><a href="/btlpm">Local Payment Method</a></li>
      <li><a href="/btvenmo">Venmo</a></li>
      <li><a href="/btach">ACH Direct Debit (US, UK only)</a></li>


    </ul>
  </li>
  <li>Rest API - Payments V1 & Orders V2
    <ul>
      <li><a href="/ppsc">Standard Checkout</a></li>
      <li><a href="/ppccs">Custom Checkout With Shipping</a></li>
      <li><a href="/ppac">Advanced Checkout</a></li>
      <li><a href="/ppcort">RT - Smart Button Checkout</a></li>
      <li><a href="/pprt">RT - Server Side Integration (Server2Server)</a></li>
      <li><a href="/ppvenmo">Venmo</a></li>
      <li><a href="/ppapm">Alternate Payment Methods</a></li>
      <li><a href="/ppccm">Custom Checkout Other Payment Methods (Marks) </a><span style="color: red">**WIP**</span></li>
      <li><a href="/ppsub">Subscription</a></li>

    </ul>
  </li>

  <li>MVP/SOAP
    <ul>
      <li><a href="/ppnvpicc">In Context Checkout</a></li>
      <li><a href="/ppnvprt">RT Checkout Before Purchase</a></li>
      <li><a href="/ppnvprtco">RT Checkout During Purchase</a></li>
    </ul>
  </li> 

</ul>