<div><a href="/">Home</a></div>
<h1>{{title}}</h1>

<div id="link-items">

</div>

<script>

    var limitedReleaseUrl = [
        'https://developer.paypal.com/limited-release/account-history-for-tpp/integrate',
        'https://developer.paypal.com/limited-release/activities',
        'https://developer.paypal.com/limited-release/address-normalizer',
        'https://developer.paypal.com/limited-release/alternative-payment-methods',
        'https://developer.paypal.com/limited-release/balance-accounts',
        'https://developer.paypal.com/limited-release/batch',
        'https://developer.paypal.com/limited-release/bill-pay',
        'https://developer.paypal.com/limited-release/chargebacks',
        'https://developer.paypal.com/limited-release/charity-search',
        'https://developer.paypal.com/limited-release/client-auth-tokens',
        'https://developer.paypal.com/limited-release/commerce-platform-de',
        'https://developer.paypal.com/limited-release/commerce-platform',
        'https://developer.paypal.com/limited-release/consumer-referrals',
        'https://developer.paypal.com/limited-release/credit-messaging',
        'https://developer.paypal.com/limited-release/direct-banking',
        'https://developer.paypal.com/limited-release/financing-options',
        'https://developer.paypal.com/limited-release/financing-presentment',
        'https://developer.paypal.com/limited-release/fraudnet',
        'https://developer.paypal.com/limited-release/fx-optimizer',
        'https://developer.paypal.com/limited-release/issuance-cards',
        'https://developer.paypal.com/limited-release/issuance-pins',
        'https://developer.paypal.com/limited-release/limits-resolutions',
        'https://developer.paypal.com/limited-release/log-in-with-paypal',
        'https://developer.paypal.com/limited-release/magnes',
        'https://developer.paypal.com/limited-release/money-requests',
        'https://developer.paypal.com/limited-release/mutual-ssl',
        'https://developer.paypal.com/limited-release/open-wallet',
        'https://developer.paypal.com/limited-release/partner-tiered-pricing',
        'https://developer.paypal.com/limited-release/pay-later-billing-agreements-sdk',
        'https://developer.paypal.com/limited-release/pay-later-commerce-platforms',
        'https://developer.paypal.com/limited-release/payment-method',
        'https://developer.paypal.com/limited-release/payment-transactions',
        'https://developer.paypal.com/limited-release/payouts',
        'https://developer.paypal.com/limited-release/paypal-link',
        'https://developer.paypal.com/limited-release/paypal-mobile-checkout',
        'https://developer.paypal.com/limited-release/paypal-payments-advanced',
        'https://developer.paypal.com/limited-release/paypal-provisioning-platform',
        'https://developer.paypal.com/limited-release/personal-payments-token',
        'https://developer.paypal.com/limited-release/personal-payments-v2',
        'https://developer.paypal.com/limited-release/personal-payments',
        'https://developer.paypal.com/limited-release/platform-payouts',
        'https://developer.paypal.com/limited-release/ppcp-sdk-android',
        'https://developer.paypal.com/limited-release/ppcp-sdk',
        'https://developer.paypal.com/limited-release/presentment-currency',
        'https://developer.paypal.com/limited-release/price-agreements',
        'https://developer.paypal.com/limited-release/qr-codes',
        'https://developer.paypal.com/limited-release/raas',
        'https://developer.paypal.com/limited-release/reference-transactions',
        'https://developer.paypal.com/limited-release/sdk-pay-later-messaging-cross-border',
        'https://developer.paypal.com/limited-release/shipping-options',
        'https://developer.paypal.com/limited-release/shopping-analytics',
        'https://developer.paypal.com/limited-release/shopping',
        'https://developer.paypal.com/limited-release/vault-payment-methods',
        'https://developer.paypal.com/limited-release/website-payments-pro/3d-secure',
        'https://developer.paypal.com/limited-release/wlw',
    ]

    var container = $("#link-items");
    limitedReleaseUrl.forEach( (item) => {
        
        let start = item.lastIndexOf('/')+1;
        let end =  item.length-1;
        let urlDesc = item.substr(start,end);
        container.append(`<p><a href="${item}" target="_blank">${urlDesc}</a></p>`);


    });
</script>