<div><a href="/">Home</a></div>
<h1>{{title}}</h1>
<div class="loading" id="loading-button">Loading paypal button...</div>
<div id="paypal-button-container"></div>
<div id="paypal-result-container"></div>
{{!-- PP Rest API simple --}}
{{!-- client-id=AeGY.. #App: MerchantApp | Account: eran.m.il@merchant.com (BusinessPro) --}}
<script
  src="https://www.paypal.com/sdk/js?client-id=AbfWHDmsApd4IM7TDiLYpsjH28utsEt-XfxVOxnE9SKbtSziPLp_LhMToOKgVKjXR7BVhDw6Pvw89ALk&currency=EUR&locale=de_DE&buyer-country=DE">
  </script>

<script>
  $("#loading-button").show();
  paypal.Buttons().render('#paypal-button-container').then(function() {
    $("#loading-button").hide();
  });
</script>
