<!-- Add the PayPal JavaScript SDK with both buttons and marks components -->
{{!-- client-id=AbfW.. #App: ACDC | Account: eran.m.us@merchant.com (BusinessPro) --}}
<script
  src="https://www.paypal.com/sdk/js?components=buttons,marks&client-id=AbfWHDmsApd4IM7TDiLYpsjH28utsEt-XfxVOxnE9SKbtSziPLp_LhMToOKgVKjXR7BVhDw6Pvw89ALk">
  </script>
<div><a href="/">Home</a></div>
<h1>{{title}}</h1>
<div class="loading" id="loading-button">Loading paypal button...</div>
<!-- Render the radio buttons and marks -->
<label>
  <input type="radio" name="payment-option" value="paypal" checked>
  <img src="paypal-mark.jpeg" width="45px" alt="Pay with PayPal">
</label>

<label>
  <input type="radio" name="payment-option" value="alternate">
  <div id="paypal-marks-container"></div>
</label>

<div id="paypal-buttons-container"></div>
<div id="alternate-button-container">
  <button>Pay with a different method</button>
</div>

<script>
  // Render the PayPal marks
  $("#loading-button").show();
  paypal.Marks().render('#paypal-marks-container').then( () => $("#loading-button").hide());

  // Render the PayPal buttons
  paypal.Buttons().render('#paypal-buttons-container').then(() => $("#loading-button").hide());

  // Listen for changes to the radio buttons
  document.querySelectorAll('input[name=payment-option]')
    .forEach(function (el) {
      el.addEventListener('change', function (event) {

        // If PayPal is selected, show the PayPal button
        if (event.target.value === 'paypal') {
          document.body.querySelector('#alternate-button-container')
            .style.display = 'none';
          document.body.querySelector('#paypal-buttons-container')
            .style.display = 'block';
        }

        // If alternate funding is selected, show a different button
        if (event.target.value === 'alternate') {
          document.body.querySelector('#alternate-button-container')
            .style.display = 'block';
          document.body.querySelector('#paypal-buttons-container')
            .style.display = 'none';
        }
      });
    });

  // Hide non-PayPal button by default
  document.body.querySelector('#alternate-button-container')
    .style.display = 'none';
</script>