<div><a href="/">Home</a></div>
<h1>{{title}}</h1>
<form id="my-container" method="post"></form>

<script>
  window.paypalCheckoutReady = function () {
    paypal.checkout.setup('BVKWTJDWMSX48', {
      environment: 'sandbox',
      locale: 'en_US',
      buttons: [
        { container: 'my-container', type: 'checkout', color: 'gold' }

      ],
      // container: 'my-container',
      click: function (event) {
        event.preventDefault();
        paypal.checkout.initXO();
        $.support.cors = true;

        $.ajax({
          url: "/ppnvp/rtco",
          type: "POST",
          data: undefined,  //'&ajax=1&onlytoken=1',
          async: true,
          crossDomain: true,

          //Load the minibrowser with the redirection url in the success handler
          success: function (token) {
            var url = paypal.checkout.urlPrefix + token;
            //Loading Mini browser with redirect url, true for async AJAX calls
            paypal.checkout.startFlow(url);
          },
          error: function (responseData, textStatus, errorThrown) {
            alert("Error in ajax post" + responseData.statusText);
            //Gracefully Close the minibrowser in case of AJAX errors
            paypal.checkout.closeFlow();
          }
        });
        
      }
    });
  };
</script>

<script src="https://www.paypalobjects.com/api/checkout.js" async></script>


