<div><a href="/">Home</a></div>
<h1>{{title}}</h1>
<p>Access token</p>
<div style="inline-size: 1350px;overflow-wrap: break-word;" id="access-token-container">&nbsp;</div>
<table style="margin-top:15px">
  <tr>
    <th>ACTION</th>
    <th>RESPONSE</th>
  </tr>
  <tr>
    <td>
      <button disabled id="ba-generate-token" onclick="generateBaToken()">Generate BA Token</button>
    </td>
    <td class="seperator">
      <div id="ba-token-response"></div>
      <div><span id="ba-approve-container"></span> </div>
    </td>
  </tr>
  <tr>
    <td>
      <button disabled id="ba-generate" onclick="generateBa()">Generate BA</button>
    </td>
    <td class="seperator">
      <div id="ba-response"></div>
    </td>
  </tr>
  <tr>
    <td>
      <button disabled id="get-ba-details" onclick="getBaDetails()">Get BA Details</button>
    </td>
    <td class="seperator">
      <div id="ba-details-response"></div>
    </td>
  </tr>
  <tr>
    <td>
      <button disabled id="get-ba-token-details" onclick="getBaTokenDetails()">Get BA Token Details</button>
    </td>
    <td class="seperator">
      <div id="ba-token-details-response"></div>
    </td>
  </tr>
  <tr>
    <td>
      <button disabled id="ba-pay" onclick="payWithBa()">Pay With BA</button>
    </td>
    <td class="seperator">
      <div id="ba-pay-response"></div>
    </td>
  </tr>
</table>


<div id="payment-view">
  <!-- Buttons container -->
  <div style="padding:10px">
    <table border="0" align="left" valign="top" bgcolor="#FFFFFF" style="width: 39%">
      <tr>
        <td colspan="2">
          <div id="paypal-button-container"></div>
        </td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>

    </table>
  </div>

</div>
<div>
  <span id="payment-result">&nbsp; </span>
  <span colspan="2" id="payment-result-cc">&nbsp;</span>

</div>
<!-- Implementation -->
<script>
  var globalAccessToken = "";
  var globalClientToken = "";
  var baTokenId = "";
  var baId = "";

  $.ajax('ppapi/auth/accesstoken/generate', {
    type: 'POST',  // http method
    data: {},  // data to submit
    success: function (data, status, xhr) {
      console.log(data);
      const accesstoken = data.access_token;
      globalAccessToken = accesstoken;
      $("#access-token-container").html(globalAccessToken);
      $("#ba-generate-token").removeAttr('disabled');
    },
    error: function (jqXhr, textStatus, errorMessage) {
      console.log(errorMessage);
    }
  });

  function generateBaToken() {
    $.ajax('/ppapi/rt/billing-agreement-token/generate', {
      type: 'POST',
      headers: {
        'Authorization': `Bearer ${globalAccessToken}`
      },
      data: {},
      success: function (data, status, xhr) {
        console.log(data);
        $("#ba-token-response").html(JSON.stringify(data));
        $("#ba-generate").removeAttr("disabled");
        $("#get-ba-token-details").removeAttr("disabled");
        const links = data.links;
        const approveUrl = links.find((l) => l.rel == "approval_url").href;
        $("#ba-approve-container").html(`Follow this url to approve BA, before clicking on "Generate BA": <a target='_blank' href="${approveUrl}">Approval Url</a>`);
        baTokenId = data.token_id;

      },
      error: function (jqXhr, textStatus, errorMessage) {
        console.log(errorMessage);
      }
    });

  }

  function generateBa() {
    $.ajax('/ppapi/rt/billing-agreement', {
      type: 'POST',
      headers: {
        'Authorization': `Bearer ${globalAccessToken}`
      },
      data: { token_id: baTokenId },
      success: function (data, status, xhr) {
        console.log(data);
        $("#ba-response").html(JSON.stringify(data));
        $("#get-ba-details").removeAttr("disabled");
        $("#ba-pay").removeAttr("disabled");
        baId = data.id;

      },
      error: function (jqXhr, textStatus, errorMessage) {
        console.log(errorMessage);
      }
    });

  }

  function getBaDetails() {
    $.ajax('/ppapi/rt/billing-agreement-details', {
      type: 'POST',
      headers: {
        'Authorization': `Bearer ${globalAccessToken}`
      },
      data: { baId: baId },
      success: function (data, status, xhr) {
        console.log(data);
        $("#ba-details-response").html(JSON.stringify(data));

      },
      error: function (jqXhr, textStatus, errorMessage) {
        console.log(errorMessage);
      }
    });

  }

  function getBaTokenDetails() {
    $.ajax('/ppapi/rt/billing-agreement-token-details', {
      type: 'POST',
      headers: {
        'Authorization': `Bearer ${globalAccessToken}`
      },
      data: { baTokenId: baTokenId },
      success: function (data, status, xhr) {
        console.log(data);
        $("#ba-token-details-response").html(JSON.stringify(data));

      },
      error: function (jqXhr, textStatus, errorMessage) {
        console.log(errorMessage);
      }
    });

  }

  function payWithBa() {



    $.ajax('/ppapi/rt/pay', {
      type: 'POST',
      headers: {
        'Authorization': `Bearer ${globalAccessToken}`
      },
      data: { baId },
      success: function (data, status, xhr) {
        console.log(data);
        $("#ba-pay-response").html(JSON.stringify(data));

      },
      error: function (jqXhr, textStatus, errorMessage) {
        console.log(errorMessage);
      }
    });

  }


</script>