<div><a href="/">Home</a></div>
<h1>{{title}}</h1>
<div>Amount: <input type="text" id="input-amount" style="width:100px" value="300"></div>
<div class="loading" id="loading-button">Loading paypal button...</div>
<div id="paypal-button-container"></div>


<div id="my-paypal-installment-banner-container"></div>
<hr>
<div id="my-paypal-installment-banner-container-1"></div>

<div id="paypal-result-container"></div>

{{!-- PP Rest API simple --}}

{{!-- client-id=Abf.. #App: ACDC | Account: eran.m.us@merchant.com (BusinessPro) --}}
{{!-- PayPAl Credit Promotion Enabled = Credit will appear on messaging instead of Pay in X--}}

{{!-- <script
  src="https://www.paypal.com/sdk/js?client-id=AbfWHDmsApd4IM7TDiLYpsjH28utsEt-XfxVOxnE9SKbtSziPLp_LhMToOKgVKjXR7BVhDw6Pvw89ALk&components=messages,buttons&buyer-country=US&currency=USD">
  </script>  --}}

  {{!-- client-id=Abf.. #App: AppUS2 | Account: eran.m.us2@merchant.com  --}}
{{!-- PayPAl Credit Promotion DISABLED--}}

<script
  src="https://www.paypal.com/sdk/js?client-id=AZjPmiH8MFbpWiO_y_WNWjyemnCVCAnpRPGE9_DB4mp8iBbjPfPLViZUhvoRifOjROWxVVWx8nJg_szi&components=messages,buttons&buyer-country=US&currency=USD">
  </script> 

{{!-- client-id=AY3.. #App: MerchantAppUS | Account: eran.m.uk@merchant.com (BusinessPro) --}}
{{!-- PayPal Credit Promotion disabled--}}

{{!-- <script
  src="https://www.paypal.com/sdk/js?client-id=AY30GJsxw_QS7g7HaAeCW58FcbcSHVL82ixgep50NtkTBgSYqVqTpMD_5VO01ILjH2AdFUAuFm-aJ0CC&components=messages,buttons&buyer-country=AL">
  </script> --}}


{{!-- client-id=AYW.. #App: AppGreece | Account: eran.m.greece@merchant.com --}}
{{!-- PayPal Credit Promotion disabled--}}
{{!-- <script
  src="https://www.paypal.com/sdk/js?client-id=AYWJCEE25ryqxl09r4cumI7R-X_89AHiAk3oNsQljDJUTRvOvZzyfeo6uU4aMflcF-9chrcMqxqegIcO&components=messages,buttons&buyer-country=GR&currency=USD">
  </script>
 --}}


{{!-- Static element --}}
{{!-- <div data-pp-message data-pp-amount="100.00">
</div> --}}


<script>
  var amountElement = $("#input-amount");
  var amount = amountElement.val();
  amountElement.change(function () {

    amount = amountElement.val();

    console.log(amount);
    loadMessages();

  });

  function loadMessages() {
    $("#loading-button").show();


    // Messages BNPL
     paypal.Messages({
      
      style: {
        layout: 'flex',       // flex text
        color: 'white',        // blue black white white-no-border
        ratio: '20x1'          // 1x1 8x1 20x1 1x4,
        
      },

      // onRender: myOnRenderFunction
    }).render("#my-paypal-installment-banner-container"); 

    paypal.Messages({

      amount: amount,
      style: {
        placement: 'payment', //category, product, cart, payment
        layout: 'text',       // flex text
        logo: {
          type: 'primary',    // primary alternative inline none
        },
        text: {
          color: 'blue'       // blue black white white-no-border
        }
      }
    }).render("#my-paypal-installment-banner-container-1");


  }

  loadMessages();

  function loadButtons() {
    paypal.Buttons({

      // Sets up the transaction when a payment button is clicked
      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: amount // Can reference variables or functions. Example: `value: document.getElementById('...').value`
            }
          }]
        });
      },

      // Finalize the transaction after payer approval
      onApprove: function (data, actions) {
        return actions.order.capture().then(function (orderData) {
          // Successful capture! For dev/demo purposes:
          let resultJson = JSON.stringify(orderData, null, 2);
          console.log('Capture result', orderData, resultJson);
          var transaction = orderData.purchase_units[0].payments.captures[0];
          // alert('Transaction ' + transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
          $('#paypal-result-container').text(resultJson);
          // When ready to go live, remove the alert and show a success message within this page. For example:
          // var element = document.getElementById('paypal-button-container');
          // element.innerHTML = '';
          // element.innerHTML = '<h3>Thank you for your payment!</h3>';
          // Or go to another URL:  actions.redirect('thank_you.html');
        }).catch(function (err) {
          console.log(err);
          $('#paypal-result-container').text(err);
        });
      }
    }).render('#paypal-button-container').then(function () {
      $("#loading-button").hide();

    });
  }

  loadButtons();


</script>

