<html>

<head>

  <meta charset="utf-8" />
  <!-- Optimal rendering on mobile devices. -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="loading" id="loading-button">Loading paypal button...</div>
  
  <div><a href="/">Home</a></div>
  <h1>{{title}}</h1>
 <h2>Note</h2>
  <p>This example saves buyers payment method during transaction with the JS SDK</p>
<br><a href="https://developer.paypal.com/limited-release/vault-payment-methods/vault-sdk/">
Link to docs</a>

  <div id="payment-view">
    <!-- Buttons container -->
    <div style="padding:10px">
      <table border="0" align="left" valign="top" bgcolor="#FFFFFF" style="width: 39%">
        <tr>
          <td >
            <div id="paypal-button-container"></div>
          </td>
        </tr>
      </table>
    </div>

    

  </div>
  <div>
    <span id="payment-result">&nbsp; </span>
    <span colspan="2" id="payment-result-cc">&nbsp;</span>
  </div>

  <!-- Implementation -->
  <script src="https://unpkg.com/@paypal/paypal-js@5.0.3/dist/iife/paypal-js.min.js"></script>
  <script>

    $("#loading-button").show();
    let orderId;
    var globalUserIdToken = "";
    let paypal;

    try {

      const myDataClientPromise = new Promise(generateDataClientToken);
      myDataClientPromise.then((data) => {
        console.log("reolved client token:", data);
        window.paypalLoadScript({
          "client-id": "AbfWHDmsApd4IM7TDiLYpsjH28utsEt-XfxVOxnE9SKbtSziPLp_LhMToOKgVKjXR7BVhDw6Pvw89ALk",
          "data-user-id-token": globalUserIdToken,
          "components": "buttons,hosted-fields"
        }).then((pp) => {
          paypal = pp;
          if (paypal) {
            try {

              loadUiControls();

            } catch (error) {
              console.error("failed to render the PayPal Buttons", error);
            }
          }


        }).catch((error) => {
          console.error("failed to load the PayPal JS SDK script", error);
        });

      });
    }

    catch (error) {
      console.error("failed to load the PayPal JS SDK script", error);
    }

    function generateDataClientToken(resolve, reject) {

      $.ajax('ppapi/auth/accesstoken/generate', {
        type: 'POST',  // http method
        data: {},  // data to submit
        success: function (data, status, xhr) {
          console.log(data);
          const accesstoken = data.access_token;

          $.ajax('/ppapi/auth/clienttoken/generate/customerid', {
            type: 'POST',
            headers: {
              'Authorization': `Bearer ${accesstoken}`
            },
            data: {customer_id: "customer_1234"},
            success: function (data, status, xhr) {
              console.log(data.client_token);
              globalUserIdToken = data.id_token;
              resolve(data.id_token);
            },
            error: function (jqXhr, textStatus, errorMessage) {
              console.log(errorMessage);
              reject(errorMessage);
            }

          });

        },
        error: function (jqXhr, textStatus, errorMessage) {
          console.log(errorMessage);
          reject(errorMessage);
        }
      });
    }

    function loadUiControls() {

      // Displays PayPal buttons
      paypal.Buttons({
        style: {
          layout: 'horizontal'
        },
        createOrder: function (data, actions) {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: "121.00"
              }
            }]
          });
        },
        onApprove: function (data, actions) {
          return actions.order.capture().then(function (details) {
            // window.location.href = '/success.html';
            // $("#payment-result").text(`Payment success: \n ${JSON.stringify(details)}`);
            $("#payment-result").jsonViewer(details);
            document.querySelector("#payment-view").style = 'display: none';

          });
        }
      }).render("#paypal-button-container").then(() => {
        console.log("render executed");
        $("#loading-button").hide();
      });

    }
  </script>

</body>

</html>