<div><a href="/">Home</a></div>
<h1>{{title}}</h1>
<div class="loading" id="loading-button">Loading paypal button...</div>
<div style="margin:0px 2% 40px 2%;padding:40px;wdth:92%;max-width:600px;box-sizing:border-box;background:aqua;border-radius:10px;float:left">
<div id="paypal-button-container" style="padding:4px;max-width:275px;width:96%"></div>
</div>

<div id="paypal-result-container"></div>
{{!-- PP Rest API simple --}}
{{!-- client-id=AeGY.. #App: MerchantApp | Account: eran.m.il@merchant.com (BusinessPro) --}}
<script
  src="https://www.paypal.com/sdk/js?client-id=AaLfG87rC4XN5QisWLhUw27uFUE0KypDXHNySFuya-jNbzKIE4s4a6Yu2q8ylFhMPgw3KflYRGc8Uhjz&enable-funding=venmo&buyer-country=US">
  </script>

<script>
  var fundingSource;
  $("#loading-button").show();
  paypal.Buttons({
    onClick: (data) => {
      // fundingSource = "venmo"
      console.log(data);
      fundingSource = data.fundingSource

      // Use this value to determine what funding source was used to pay
      // Update your confirmation pages and notifications from "PayPal" to "Venmo"
    }
  }).render('#paypal-button-container').then(function () {
    $("#loading-button").hide();
  });
</script>