<div><a href="/">Home</a></div>
<h2>{{title}}</h2>
<p>Details</p>
<p>Token: <span id="token-container">{{token}}</span></p>

<p>PayerID: <span id="payer-id-container">{{payer}}</span></p>
<hr>
<p id="checkout-message"><font style="font-size:18pt">Waiting for results...</font></p>

<script>
    const tokenContainer = $("#token-container");
    const token = tokenContainer.text();
    const payerIdContainer = $("#payer-id-container");
    const payerId = payerIdContainer.text();
    if (token) {
        console.log(token);

        $.ajax({
            type: 'POST',
            url: '/ppnvp/rt/ba',
            data: { 'token': token, 'payerId': payerId }
        }).done(function (result) {
                

            if (result.data) {
                const arr = result.data;
                let html ='';
                for(var i=0;i < arr.length; i++){
                    html = html + `<div>${arr[i].replace('%2d','-')}</div>`;

                }
                
                $('#checkout-message').html('<h1>Success</h1><p>RT transaction succeeded</h1>'+html);
            } else {
                console.log(result);
                $('#checkout-message').html('<h1>Failed</h1><p>RT transaction failed</h1>');
            }
        });
    }


</script>