body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul 
{
   padding:15px;
  font-size:15pt
}
li 
{
   padding:10px;
  font-size:13pt
}

.loading {
  font-size: 20px;
  padding: 5px;
  margin: 10px;
 
}

.note {
  font-size:12pt;
  color:blue;
  
}
td {
  padding: 15px;
}

.seperator {
  border-bottom: solid 2px darkseagreen;
}